<li>
  <h3>{{question.title}}</h3>
  <h6>{{question.content}}</h6>
  <p>{{question.author}}</p>
  {{edit-question question=question edit="edit"}}
  <button class="btn" {{action 'delete' question}}></button>
</li>
