<h1>Welcome to Wesley's 'A Princess Bride' Question and Answer Forum</h1>

<h3>Post questions or answer any number of questions listed below.</h3>

<ul>
  {{#each model.questions as |question|}}
    {{question-tile question=question}}
  {{/each}}
</ul>
{{new-question saveQuestion="saveQuestion"}}

<h2>All Answers</h2>

<ul>
  {{#each mode.answers as |answer|}}
    <li>{{answer.content}} by {{answer.author}}</li>
  {{/each}}
</ul>
{{new-answer saveAnswer="saveAnswer"}}
<hr>
