<div class="well main-pg-well">
  <p>{{model.title}}</p>
  <h6>posted by {{model.author}}</h6>

  {{new-answer saveAnswer="saveAnswer" question=model}}
  {{edit-question question=model edit="edit"}}
  {{question-detail question=model destroyQuestion="destroyQuestion" destroyAnswer="destroyAnswer"}}
</div>
